@model SmartMap.Web.ViewModels.CalendarViewModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="container pt-5">
    <main class="pb-3 mt-4">
        <h1 class="display-4">@Model.Title</h1>
        <p>...</p>
    </main>
</div>
