$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts/";
$leaflet-fullscreen-icon-path: '../node_modules/leaflet.fullscreen/';

$background-color-greyish: #f5f5f5;

$mobile-max-width: 575.98px;